#content_left_all{
	width: 384px;
	float: left;
	padding-right: 10px;
}

.plany_relative{
	position: relative;
	float: left;
	width: 384px;
	height: 375px;
	margin: auto;
	margin-top: 0;
}

.plany_infoSidebar{
	position: relative;
	width: 280px;
	float: right;
	border-left: 2px dashed #888;
	padding-left: 18px;
	
}

.plany_nav{
	float: left;
	width: 384px;		
}



.plany_nav {
    padding: 0;
    margin-top: 30px;
    width: 384px;
    background: transparent url('img/transparent.png') no-repeat left top;
    z-index: 9999;
}

.plany_nav ul {
    margin: 0;
    padding: 0;
}

.plany_nav li {
    list-style: none;
}

.plany_nav li.level_title {
    margin-left: 90px;
}

.plany_nav ul li a {
	border-bottom: 1px dashed #DDD;
    color: #000;
    cursor: pointer;
    display: block;
    height: 25px;
    width: 132px;
    margin-left: 22px;
    line-height: 25px;
    text-indent: 10px;
    text-decoration: none;
}

.plany_nav ul li a.level_title {
    border-bottom: 2px solid #DDD;
    border-right: 8px solid #DDD;
    color: #000;
    cursor: pointer;
    display: block;
    height: 25px;
    width: 149px;
    margin-left: 5px;
    line-height: 25px;
    text-indent: 10px;
    text-decoration: none;
}


ul.group_list_side li a.available{
	border-right: 8px solid #007167;
}

ul.group_list_side li a.sold{
	border-right: 8px solid #8A2E2E;
}

ul.group_list_side li a.reserved{
	border-right: 8px solid #125F8A;
}

.plany_nav ul li a.level_title:hover {
    background-color: #ecebeb;
}

.klatka_title{
	display: block;
	width: 157px;
	margin-left: 5px;
	font-size: 24px;
	font-family: MisoRegular;
	text-transform: uppercase;
	text-align: center;
	color: white;
	background: #888;
	padding: 5px 0 3px 0;
}


#accordion{
	float: left;
	border-right: 1px dashed #DDD;
	padding-right: 27px;
}

#accordion2{
	float: left;
	margin-left: 20px;
}

ul.first{
	border-top: none !important;
}

ul.infoLista {
	border-top: 1px dashed #DDD;
	margin: 0;
	clear: both;
}

ul.infoLista li{
	float: left;
	list-style: none;
	padding: 8px 0px 5px 10px;
}

li.infoLista1{
	border-right: 1px dashed #DDD;
	width: 160px;
}

li.infoLista2{
	width: 80px;
	
}

a.sideImage{
	margin-top: 40px;	
}

h5.wersja2{
	border-top: 3px dashed #888;
	padding-top: 10px;
}

h5.wersja2{
	border-top: 3px dashed #888;
	padding-top: 10px;
}

h5 span.Wolne{
	color: #007066;
	background: white;
}

h5 span.Rezerwacja{
	color: #125F8A;
	background: white;
}

#infoLoader h5{
background-color: #888;
	color: white;
	padding: 7px;
}

.loader {
	position: absolute;
	top: 10px;
    background: url('img/preloader1.gif') no-repeat center center;
    display: block;
    width: 320px;
    height: 100px;
}


#link_image {
    position: absolute;
    z-index: 998;
    width: 384px;
    height: 375px;
    border: none;
}

#transparent_full {
    position: absolute;
    z-index: 999;
    width: 384px;
    height: 375px;
    border: none;
    outline: none;
}

.box_selection {
    outline: none;
}

.level_inner {
    width: 374px;
    height: 205px;
    margin: 0;
    padding: 0;
}





/* Z-index properties for transparent images*/

/* Z-index properties for floor images*/

.group ul {
    list-style: none;
}

.group li {
    position: absolute;
    text-indent: -1000em;
}

.group_list, .group_list li {
    margin: 0;
    padding: 0;
}
/* ----------------- LEVEL 0 ----------------- */

#l0, #l1, #l2 {
    left: 0px;
    position: absolute;
    width: 384px;
    height: 205px;
    margin: 0;
    padding: 0;
}

#l0 {
    top: 174px;
}

#l1{
	top: 157px;
}

#l2{
	top: 140px;
}


/* ----------------- */

#l0_front_bg, #l1_front_bg, #l2_front_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg_2.png') no-repeat 0 0px;
    display: block;
    width: 384px;
    height: 207px;
}


#l0_front_bg {
    z-index: 35;
}

#l1_front_bg {
    z-index: 55;
}

#l2_front_bg {
    z-index: 75;
}


/* ----------------- */


#l0_lines_bg, #l1_lines_bg, #l2_lines_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg_2.png') no-repeat -400px 0px;
    display: block;
    width: 384px;
    height: 207px;
}

#l0_lines_bg {
	z-index: 34;
}

#l1_lines_bg {
	z-index: 54;
}

#l2_lines_bg {
	z-index: 74;
}


/* ----------------- */

#l0_back_bg, #l1_back_bg, #l2_back_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg_2.png') no-repeat -799px -0.8px;
    display: block;
    width: 384px;
    height: 207px;
}

#l0_back_bg {
	z-index: 20;
}

#l1_back_bg {
	z-index: 40;
}

#l2_back_bg {
	z-index: 60;
}
/* ----------------- */

#l0_1A, #l1_7A, #l2_13A {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat 0 0px;
    height: 53px;
    width: 63px;
    top: 68px;
    left: 222px;
}

#l0_1A {
    z-index: 29;
}

#l1_7A {
    z-index: 49;
}

#l2_13A {
    z-index: 69;
}



#l0_1A.sold, #l1_7A.sold, #l2_13A.sold {
    background: transparent url('img/mieszkania2.png') no-repeat 0 -100px;
}

#l0_1A.reserved, ##l1_7A.reserved, #l2_13A.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat 0 -200px;
}

/* ----------------- */

#l0_2A, #l1_8A, #l2_14A {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -150px 0px;
    height: 60px;
    width: 85px;
    top: 82px;
    left: 169px;
}

#l0_2Av2, #l1_8Av2, #l2_14Av2{
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -1650px 0px;
    height: 50px;
    width: 86px;
    top: 63px;
    left: 139px;
}

#l0_2A{
	z-index: 30;
}
#l0_2Av2{
    z-index: 31;
}

#l1_8A{
	z-index: 50;
}
#l1_8Av2{
    z-index: 49;
}

#l2_14A{
	z-index: 70;
}
#l2_14Av2{
    z-index: 69;
}

#l0_2A.sold, #l1_8A.sold, #l2_14A.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -150px -100px;
}

#l0_2A.reserved, #l1_8A.reserved, #l2_14A.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -150px -200px;
}

/* ----------------- */

#l0_3A, #l1_9A, #l2_15A {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -300px 0px;
    height: 65px;
    width: 94px;
    top: 34px;
    left: 167px;
}

#l0_3A{
	z-index: 24;
}

#l1_9A{
	z-index: 44;
}

#l2_15A{
	z-index: 64;
}

#l0_3A.sold, #l1_9A.sold, #l2_15A.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -300px -100px;
}

#l0_3A.reserved, #l1_9A.reserved, #l2_15A.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -300px -200px;
}

/* ----------------- */

#l0_4A, #l1_10A, #l2_16A {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -450px 0px;
    height: 52px;
    width: 61px;
    top: 19px;
    left: 229px;
}

#l0_4A{
	z-index: 23;
}

#l1_10A{
	z-index: 43;
}

#l2_16A{
	z-index: 63;
}

#l0_4A.sold, l1_10A.sold, #l2_16A.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -450px -100px;
}

#l0_4A.reserved, l1_10A.reserved, #l2_16A.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -450px -200px;
}

/* ----------------- */

#l0_5A, #l1_11A, #l2_17A {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -600px 0px;
    height: 70px;
    width: 90px;
    top: 0px;
    left: 259px;
}

#l0_5A{
	z-index: 22;
}

#l1_11A{
	z-index: 42;
}

#l2_17A{
	z-index: 62;
}

#l0_5A.sold, #l1_11A.sold, #l2_17A.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -600px -100px;
}

#l0_5A.reserved, #l1_11A.reserved, #l2_17A.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -600px -200px;
}

/* ----------------- */

#l0_6A, #l1_12A, #l2_18A {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -750px 0px;
    height: 73px;
    width:112px;
    top: 25px;
    left: 269px;
}

#l0_6A{
    z-index: 22;
}

#l1_12A{
    z-index: 42;
}

#l2_18A{
    z-index: 62;
}

#l0_6A.sold, #l1_12A.sold, #l2_18A.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -750px -100px;
}

#l0_6A.reserved, #l1_12A.reserved, #l2_18A.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -750px -200px;
}

/* ----------------- */

#l0_1B, #l1_6B, #l2_11B {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -900px 0px;
    height: 73px;
    width: 110px;
    top: 129px;
    left: 42px;
}

#l0_1B {
	z-index: 32;
}

#l1_6B {
	z-index: 52;
}

#l2_11B {
	z-index: 72;
}

#l0_1B.sold, #l1_6B.sold, #l2_11B.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -900px -100px;
}

#l0_1B.reserved, #l1_6B.reserved, #l2_11B.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -900px -200px;
}

/* ----------------- */

#l0_2B, #l1_7B, #l2_12B {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -1050px 0px;
    height: 65px;
    width: 100px;
    top: 119px;
    left: 0px;
}

#l0_2B{
	z-index: 27;
}

#l1_7B{
	z-index: 47;
}

#l2_12B{
	z-index: 67;
}

#l0_2B.sold, #l1_7B.sold, ##l2_12B.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -1050px -100px;
}

#l0_2B.reserved, #l1_7B.reserved, #l2_12B.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -1050px -200px;
}

/* ----------------- */

#l0_3B, #l1_8B, #l2_13B {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -1200px 0px;
    height: 58px;
    width: 82px;
    top: 97px;
    left: 44px;
}

#l0_3B {
	z-index: 26;
}

#l1_8B {
	z-index: 46;
}

#l2_13B {
	z-index: 66;
}

#l0_3B.sold, #l1_8B.sold, #l2_13B.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -1200px -100px;
}

#l0_3B.reserved, #l1_8B.reserved, #l2_13B.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -1200px -200px;
}

/* ----------------- */

#l0_4B, #l1_9B, #l2_14B {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -1350px 0px;
    height: 58px;
    width: 82px;
    top: 77px;
    left: 95px;
}

#l0_4B{
	z-index: 26;
}

#l1_9B{
	z-index: 46;
}

#l2_14B{
	z-index: 66;
}

#l0_4B.sold, #l1_9B.sold, #l2_14B.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -1350px -100px;
}

#l0_4B.reserved, #l1_9B.reserved, #l2_14B.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -1350px -200px;
}

/* ----------------- */

#l0_5B, #l1_10B, #l2_15B {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -1500px 0px;
    height: 58px;
    width: 78px;
    top: 101px;
    left: 136px;
}

#l0_5B{
	z-index: 31;
}

#l1_10B{
	z-index: 51;
}

#l2_15B{
	z-index: 71;
}

#l0_5B.sold, #l1_10B.sold, #l2_15B.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -1500px -100px;
}

#l0_5B.reserved, #l1_10B.reserved, #l2_15B.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -1500px -200px;
}

/* ----------------- LEVEL 3 ----------------- */

#l3 {
    top: 122px;
    left: 0px;
    position: absolute;
    width: 384px;
    height: 205px;
    margin: 0;
    padding: 0;
}

#l3_front_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg_2.png') no-repeat 0 -210px;
    display: block;
    width: 384px;
    height: 207px;
    z-index: 95;
}

#l3_lines_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg_2.png') no-repeat -400px -210px;
    display: block;
    width: 384px;
    height: 207px;
    z-index: 94;
}

#l3_back_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg_2.png') no-repeat -799px -210px;
    display: block;
    width: 384px;
    height: 207px;
    z-index: 80;
}

/* ----------------- */

#l3_19A {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat 0px -300px;
    height: 70px;
    width: 105px;
    top: 69px;
    left: 180px;
    z-index: 89;
}

#l3_19A.sold {
    background: transparent url('img/mieszkania2.png') no-repeat 0px -400px;
}

#l3_19A.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat 0px -500px;
}

/* ----------------- */

#l3_20A {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -150px -300px;
    height: 57px;
    width: 96px;
    top: 64px;
    left: 138px;
    z-index: 84;
}

#l3_20A.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -150px -400px;
}

#l3_20A.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -150px -500px;
}

/* ----------------- */

#l3_21A {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -300px -300px;
    height: 64px;
    width: 92px;
    top: 36px;
    left: 167px;
    z-index: 83;
}

#l3_21A.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -300px -400px;
}

#l3_21A.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -300px -500px;
}

/* ----------------- */

#l3_22A {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -450px -300px;
    height: 51px;
    width: 64px;
    top: 21px;
    left: 227px;
    z-index: 82;
}

#l3_22A.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -450px -400px;
}

#l3_22A.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -450px -500px;
}

/* ----------------- */

#l3_23A {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -600px -300px;
    height: 71px;
    width: 90px;
    top: 1px;
    left: 259px;
    z-index: 82;
}

#l3_23A.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -600px -400px;
}

#l3_23A.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -600px -500px;
}

/* ----------------- */

#l3_24A {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -750px -300px;
    height: 73px;
    width: 112px;
    top: 25px;
    left: 269px;
    z-index: 88;
}

#l3_24A.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -750px -400px;
}

#l3_24A.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -750px -500px;
}

/* ----------------- */

#l3_16B {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -900px -300px;
    height: 73px;
    width: 112px;
    top: 129px;
    left: 42px;
    z-index: 91;
}

#l3_16B.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -900px -400px;
}

#l3_16B.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -900px -500px;
}

/* ----------------- */

#l3_17B {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -1050px -300px;
    height: 65px;
    width: 99px;
    top: 118px;
    left: 1px;
    z-index: 87;
}

#l3_17B.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -1050px -400px;
}

#l3_17B.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -1050px -500px;
}

/* ----------------- */

#l3_18B {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -1200px -300px;
    height: 58px;
    width: 79px;
    top: 97px;
    left: 47px;
    z-index: 86;
}

#l3_18B.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -1200px -400px;
}

#l3_18B.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -1200px -500px;
}

/* ----------------- */

#l3_19B {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -1350px -300px;
    height: 57px;
    width: 88px;
    top: 77px;
    left: 93px;
    z-index: 85;
}

#l3_19B.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -1350px -400px;
}

#l3_19B.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -1350px -500px;
}


/* ----------------- */

#l3_20B {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania2.png') no-repeat -1500px -300px;
    height: 58px;
    width: 77px;
    top: 102px;
    left: 136px;
    z-index: 85;
}

#l3_20B.sold {
    background: transparent url('img/mieszkania2.png') no-repeat -1500px -400px;
}

#l3_20B.reserved {
    background: transparent url('img/mieszkania2.png') no-repeat -1500px -500px;
}

