#content_left_all{
	width: 375px;
	float: left;
	padding-right: 10px;
}

.plany_relative{
	position: relative;
	float: left;
	width: 375px;
	height: 375px;
	margin: auto;
	margin-top: 0;
}

.plany_infoSidebar{
	position: relative;
	width: 285px;
	float: right;
	border-left: 2px dashed #888;
	padding-left: 18px;
	
}

.plany_nav{
	float: left;
	width: 375px;		
}



.plany_nav {
    padding: 0;
    margin-top: 30px;
    width: 375px;
    background: transparent url('img/transparent.png') no-repeat left top;
    z-index: 9999;
}

.plany_nav ul {
    margin: 0;
    padding: 0;
}

.plany_nav li {
    list-style: none;
}

.plany_nav li.level_title {
    margin-left: 90px;
}

.plany_nav ul li a {
	border-bottom: 1px dashed #DDD;
    color: #000;
    cursor: pointer;
    display: block;
    height: 25px;
    width: 132px;
    margin-left: 22px;
    line-height: 25px;
    text-indent: 10px;
    text-decoration: none;
}

.plany_nav ul li a.level_title {
    border-bottom: 2px solid #DDD;
    border-right: 8px solid #DDD;
    color: #000;
    cursor: pointer;
    display: block;
    height: 25px;
    width: 149px;
    margin-left: 5px;
    line-height: 25px;
    text-indent: 10px;
    text-decoration: none;
}


ul.group_list_side li a.available{
	border-right: 8px solid #007167;
}

ul.group_list_side li a.sold{
	border-right: 8px solid #8A2E2E;
}

ul.group_list_side li a.reserved{
	border-right: 8px solid #125F8A;
}

.plany_nav ul li a.level_title:hover {
    background-color: #ecebeb;
}

.klatka_title{
	display: block;
	width: 157px;
	margin-left: 5px;
	font-size: 24px;
	font-family: MisoRegular;
	text-transform: uppercase;
	text-align: center;
	color: white;
	background: #888;
	padding: 5px 0 3px 0;
}


#accordion{
	float: left;
	border-right: 1px dashed #DDD;
	padding-right: 27px;
}

#accordion2{
	float: left;
	margin-left: 20px;
}

ul.first{
	border-top: none !important;
}

ul.infoLista {
	border-top: 1px dashed #DDD;
	margin: 0;
	clear: both;
}

ul.infoLista li{
	float: left;
	list-style: none;
	padding: 8px 0px 5px 10px;
}

li.infoLista1{
	border-right: 1px dashed #DDD;
	width: 180px;
}

li.infoLista2{
	width: 80px;
	
}

a.sideImage{
	margin-top: 40px;	
}

h5.wersja2{
	border-top: 3px dashed #888;
	padding-top: 10px;
}

h5.wersja2{
	border-top: 3px dashed #888;
	padding-top: 10px;
}

h5 span.Wolne{
	color: #007066;
	background: white;
}

h5 span.Rezerwacja{
	color: #125F8A;
	background: white;
}

#infoLoader h5{
background-color: #888;
	color: white;
	padding: 7px;
}

.loader {
	position: absolute;
	top: 10px;
    background: url('img/preloader1.gif') no-repeat center center;
    display: block;
    width: 320px;
    height: 100px;
}


#link_image {
    position: absolute;
    z-index: 998;
    width: 375px;
    height: 375px;
    border: none;
}

#transparent_full {
    position: absolute;
    z-index: 999;
    width: 375px;
    height: 375px;
    border: none;
    outline: none;
}

.box_selection {
    outline: none;
}

.level_inner {
    width: 374px;
    height: 205px;
    margin: 0;
    padding: 0;
}





/* Z-index properties for transparent images*/

/* Z-index properties for floor images*/

.group ul {
    list-style: none;
}

.group li {
    position: absolute;
    text-indent: -1000em;
}

.group_list, .group_list li {
    margin: 0;
    padding: 0;
}

#quartierplatz {
    top: 505px;
	left: 481px;
    position: absolute;
    width: 70px;
    height: 50px;
    margin: 0;
    padding: 0;
    background: transparent url('img/directions.png') no-repeat 0 -100px;
    text-indent: -9999px;
}

#reuss {
    top: 588px;
	left: 159px;
    position: absolute;
    width: 70px;
    height: 50px;
    margin: 0;
    padding: 0;
    background: transparent url('img/directions.png') no-repeat 0 -50px;
    text-indent: -9999px;
}
/* ----------------- LEVEL 0 ----------------- */

#l0 {
    top: 171px;
    left: 0px;
    position: absolute;
    width: 375px;
    height: 205px;
    margin: 0;
    padding: 0;
}

#l0_front_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg.png') no-repeat 0 0px;
    display: block;
    width: 375px;
    height: 207px;
    z-index: 35;
}

div.up div.leve0_inner #l0_front_bg {
    background: transparent url('img/floor_bg.png') no-repeat -1000px -1050px;

}


#l0_lines_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg.png') no-repeat -400px 0px;
    display: block;
    width: 375px;
    height: 207px;
    z-index: 34;
}

#l0_back_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg.png') no-repeat -799px -0.8px;
    display: block;
    width: 375px;
    height: 207px;
    z-index: 20;
}

/* ----------------- */

#l0_1C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat 0 -100px;
    height: 61px;
    width: 88px;
    top: 69px;
    left: 193px;
    /*z-index: 55;*/
    z-index: 29;
}

#l0_1C.sold {
    background: transparent url('img/mieszkania.png') no-repeat 0 -200px;
}

#l0_1C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat 0 -300px;
}

/* ----------------- */

#l0_2C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -120px -100px;
    height: 75px;
	width: 103px;
	top: 44px;
	left: 138px;
	z-index: 24;
}

#l0_2C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -120px -200px;
}

#l0_2C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -120px -300px;
}

/* ----------------- */

#l0_3C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -270px -100px;
    height: 58px;
	width: 82px;
	top: 23px;
	left: 204px;
	z-index: 23;
}

#l0_3C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -270px -200px;
}

#l0_3C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -270px -300px;
}

/* ----------------- */

#l0_4C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -370px -100px;
    height: 65px;
	width: 90px;
	top: 1px;
	left: 255px;
	z-index: 22;
}

#l0_4C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -370px -200px;
}

#l0_4C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -370px -300px;
}

/* ----------------- */

#l0_5C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -520px -100px;
    height:72px;
	width: 108px;
	top: 27px;
	left: 268px;
	z-index: 28;
}

#l0_5C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -520px -200px;
}

#l0_5C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -520px -300px;
}

/* ----------------- */

#l0_1D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -670px -100px;
    height:57px;
	width: 76px;
	top: 129px;
	left: 75px;
	z-index: 31;
}

#l0_1D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -670px -200px;
}

#l0_1D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -670px -300px;
}

/* ----------------- */

#l0_2D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -790px -100px;
    height:60px;
	width: 80px;
	top: 141px;
	left: 27px;
	z-index: 32;
}

#l0_2D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -790px -200px;
}

#l0_2D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -790px -300px;
}

/* ----------------- */

#l0_3D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -920px -100px;
    height:58px;
	width: 78px;
	top: 118px;
	left: 0px;
	z-index: 26;
}

#l0_3D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -920px -200px;
}

#l0_3D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -920px -300px;
}

/* ----------------- */

#l0_4D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -1020px -100px;
    height:60px;
	width: 80px;
	top: 94px;
	left: 45px;
	z-index: 25;
}

#l0_4D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -1020px -200px;
}

#l0_4D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -1020px -300px;
}

/* ----------------- */

#l0_5D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -1120px -100px;
    height:57px;
	width: 76px;
	top: 75px;
	left: 94px;
	z-index: 24;
}

#l0_5D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -1120px -200px;
}

#l0_5D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -1120px -300px;
}

/* ----------------- */

#l0_6D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -1220px -100px;
    height:64px;
	width: 91px;
	top: 95px;
	left: 135px;
	z-index: 30;
}

#l0_6D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -1220px -200px;
}

#l0_6D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -1220px -300px;
}

/* ----------------- LEVEL 1 ----------------- */

#l1 {
    top: 154px;
    left: 0px;
    position: absolute;
    width: 375px;
    height: 205px;
    margin: 0;
    padding: 0;
}

#l1_front_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg.png') no-repeat 0 -210px;
    display: block;
    width: 375px;
    height: 207px;
    z-index: 55;
}


#l1_lines_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg.png') no-repeat -400px -210px;
    display: block;
    width: 375px;
    height: 207px;
    z-index: 54;
}

#l1_back_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg.png') no-repeat -799px -210px;
    display: block;
    width: 375px;
    height: 207px;
    z-index: 40;
}

/* ----------------- */

#l1_6C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat 0px -500px;
    height:64px;
	width: 91px;
	top: 69px;
	left: 194px;
	z-index: 48;
}

#l1_6C.sold {
    background: transparent url('img/mieszkania.png') no-repeat 0px -593px;
}

#l1_6C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat 0px -700px;
}

/* ----------------- */

#l1_7C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -120px -500px;
    height: 75px;
	width: 104px;
	top: 44px;
	left: 137px;
	z-index: 43;
}

#l1_7C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -120px -593px;
}

#l1_7C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -120px -700px;
}

/* ----------------- */

#l1_8C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -270px -500px;
    height: 58px;
	width: 82px;
	top: 23px;
	left: 204px;
	z-index: 42;
}

#l1_8C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -270px -593px;
}

#l1_8C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -270px -700px;
}

/* ----------------- */

#l1_9C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -370px -500px;
    height: 65px;
	width: 90px;
	top: 1px;
	left: 255px;
	z-index: 41;
}

#l1_9C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -370px -593px;
}

#l1_9C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -370px -700px;
}

/* ----------------- */

#l1_10C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -520px -500px;
    height:72px;
	width: 108px;
	top: 27px;
	left: 268px;
	z-index: 45;
}

#l1_10C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -520px -593px;
}

#l1_10C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -520px -700px;
}

/* ----------------- */

#l1_7D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -790px -500px;
    height:58px;
	width: 77px;
	top: 129px;
	left: 74px;
	z-index: 50;
}

#l1_7D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -790px -593px;
}

#l1_7D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -790px -700px;
}

/* ----------------- */

#l1_8D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -670px -500px;
    height:58px;
	width: 77px;
	top: 141px;
	left: 30px;
	z-index: 51;
}

#l1_8D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -670px -593px;
}

#l1_8D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -670px -700px;
}

/* ----------------- */

#l1_9D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -920px -500px;
    height:58px;
	width: 78px;
	top: 118px;
	left: 0px;
	z-index: 46;
}

#l1_9D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -920px -593px;
}

#l1_9D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -920px -700px;
}

/* ----------------- */

#l1_10D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -1020px -500px;
    height:60px;
	width: 80px;
	top: 94px;
	left: 45px;
	z-index: 45;
}

#l1_10D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -1020px -593px;
}

#l1_10D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -1020px -700px;
}

/* ----------------- */

#l1_11D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -1120px -500px;
    height:57px;
	width: 76px;
	top: 75px;
	left: 91px;
	z-index: 44;
}

#l1_11D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -1120px -593px;
}

#l1_11D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -1120px -700px;
}

/* ----------------- */

#l1_12D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -1220px -500px;
    height:65px;
	width: 90px;
	top: 94px;
	left: 135px;
	z-index: 49;
}

#l1_12D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -1220px -593px;
}

#l1_12D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -1220px -700px;
}


/* ----------------- LEVEL 2 ----------------- */

#l2 {
    top: 137px;
    left: 0px;
    position: absolute;
    width: 375px;
    height: 205px;
    margin: 0;
    padding: 0;
}

#l2_front_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg.png') no-repeat 0 -210px;
    display: block;
    width: 375px;
    height: 207px;
    z-index: 75;
}


#l2_lines_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg.png') no-repeat -400px -210px;
    display: block;
    width: 375px;
    height: 207px;
    z-index: 74;
}

#l2_back_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg.png') no-repeat -799px -210px;
    display: block;
    width: 375px;
    height: 207px;
    z-index: 60;
}

/* ----------------- */

#l2_11C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat 0px -500px;
    height:64px;
	width: 91px;
	top: 69px;
	left: 194px;
	z-index: 68;
}

#l2_11C.sold {
    background: transparent url('img/mieszkania.png') no-repeat 0px -600px;
}

#l2_11C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat 0px -700px;
}

/* ----------------- */

#l2_12C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -120px -500px;
    height: 75px;
	width: 104px;
	top: 44px;
	left: 137px;
	z-index: 63;
}

#l2_12C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -120px -593px;
}

#l2_12C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -120px -700px;
}

/* ----------------- */

#l2_13C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -270px -500px;
    height: 58px;
	width: 82px;
	top: 23px;
	left: 204px;
	z-index: 62;
}

#l2_13C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -270px -593px;
}

#l2_13C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -270px -700px;
}

/* ----------------- */

#l2_14C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -370px -500px;
    height: 65px;
	width: 90px;
	top: 1px;
	left: 255px;
	z-index: 61;
}

#l2_14C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -370px -593px;
}

#l2_14C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -370px -700px;
}

/* ----------------- */

#l2_15C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -520px -500px;
    height:72px;
	width: 108px;
	top: 27px;
	left: 268px;
	z-index: 65;
}

#l2_15C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -520px -593px;
}

#l2_15C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -520px -700px;
}

/* ----------------- */

#l2_13D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -790px -500px;
    height:58px;
	width: 77px;
	top: 129px;
	left: 74px;
	z-index: 70;
}

#l2_13D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -790px -593px;
}

#l2_13D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -790px -700px;
}

/* ----------------- */

#l2_14D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -670px -500px;
    height:58px;
	width: 77px;
	top: 141px;
	left: 30px;
	z-index: 71;
}

#l2_14D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -670px -593px;
}

#l2_14D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -670px -700px;
}

/* ----------------- */

#l2_15D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -920px -500px;
    height:58px;
	width: 78px;
	top: 118px;
	left: 0px;
	z-index: 66;
}

#l2_15D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -920px -593px;
}

#l2_15D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -920px -700px;
}

/* ----------------- */

#l2_16D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -1020px -500px;
    height:60px;
	width: 80px;
	top: 94px;
	left: 45px;
	z-index: 65;
}

#l2_16D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -1020px -593px;
}

#l2_16D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -1020px -700px;
}

/* ----------------- */

#l2_17D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -1120px -500px;
    height:57px;
	width: 76px;
	top: 75px;
	left: 91px;
	z-index: 64;
}

#l2_17D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -1120px -593px;
}

#l2_17D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -1120px -700px;
}

/* ----------------- */

#l2_18D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -1220px -500px;
    height:65px;
	width: 90px;
	top: 94px;
	left: 135px;
	z-index: 69;
}

#l2_18D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -1220px -593px;
}

#l2_18D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -1220px -700px;
}

/* ----------------- LEVEL 3 ----------------- */

#l3 {
    top: 120px;
    left: 0px;
    position: absolute;
    width: 375px;
    height: 205px;
    margin: 0;
    padding: 0;
}

#l3_front_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg.png') no-repeat 0 -420px;
    display: block;
    width: 375px;
    height: 207px;
    z-index: 95;
}


#l3_lines_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg.png') no-repeat -400px -420px;
    display: block;
    width: 375px;
    height: 207px;
    z-index: 94;
}

#l3_back_bg {
    position: absolute;
    top: 0;
    background: transparent url('img/floor_bg.png') no-repeat -799px -420px;
    display: block;
    width: 375px;
    height: 207px;
    z-index: 80;
}

/* ----------------- */

#l3_16C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat 0px -900px;
    height:64px;
	width: 91px;
	top: 69px;
	left: 193px;
	z-index: 86;
}

#l3_16C.sold {
    background: transparent url('img/mieszkania.png') no-repeat 0px -1000px;
}

#l3_16C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat 0px -1100px;
}

/* ----------------- */

#l3_17C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -120px -900px;
    height:78px;
	width: 101px;
	top: 34px;
	left: 155px;
	z-index: 82;
}

#l3_17C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -120px -1000px;
}

#l3_17C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -120px -1100px;
}

/* ----------------- */

#l3_18C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -270px -900px;
    height:75px;
	width: 88px;
	top: 2px;
	left: 225px;
	z-index: 81;
}

#l3_18C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -270px -1000px;
}

#l3_18C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -270px -1100px;
}

/* ----------------- */

#l3_19C {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -370px -900px;
    height:90px;
	width: 114px;
	top: 8px;
	left: 261px;
	z-index: 85;
}

#l3_19C.sold {
    background: transparent url('img/mieszkania.png') no-repeat -370px -1000px;
}

#l3_19C.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -370px -1100px;
}

/* ----------------- */

#l3_19D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -520px -900px;
    height:75px;
	width: 100px;
	top: 127px;
	left: 42px;
	z-index: 88;
}

#l3_19D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -520px -1000px;
}

#l3_19D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -520px -1100px;
}

/* ----------------- */

#l3_20D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -670px -900px;
    height:80px;
	width: 110px;
	top: 103px;
	left: -1px;
	z-index: 84;
}

#l3_20D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -670px -1000px;
}

#l3_20D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -670px -1100px;
}

/* ----------------- */

#l3_21D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -790px -900px;
    height:76px;
	width: 128px;
	top: 64px;
	left: 70px;
	z-index: 83;
}

#l3_21D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -790px -1000px;
}

#l3_21D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -790px -1100px;
}

/* ----------------- */

#l3_22D {
    position: absolute;
    display: block;
    background: transparent url('img/mieszkania.png') no-repeat -1020px -900px;
    height:62px;
	width: 91px;
	top: 93px;
	left: 135px;
	z-index: 87;
}

#l3_22D.sold {
    background: transparent url('img/mieszkania.png') no-repeat -1020px -1000px;
}

#l3_22D.reserved {
    background: transparent url('img/mieszkania.png') no-repeat -1020px -1100px;
}