.tj_container{
	width:729px;
	height:729px;
	position:relative;
	margin:0;
	background: transparent url(../images/folio-ph-light.png) repeat 0 0;
}
.tj_nav{
	position:absolute;
	right: 0;
	top: -37px;
	height:37px;
	width:60px;
}
.tj_nav span{
	top: 0;
	right: 33px;
	width: 30px;
	height: 30px;
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
	display: block;
	text-indent: -1000px;
	overflow: hidden;
	position: absolute;
	background: transparent url(../images/updown-arrows.png) no-repeat -24px 6px;
	cursor: pointer;
}
.tj_nav span.tj_next{
	top:auto;
	right: 3px;
	background-position: -32px -16px;
}
.tj_nav span:hover{
	opacity:1.0;
}
.tj_wrapper{
	width:100%;
	height:100%;
	position:relative;
	margin:0px auto;
}
.tj_wrapper ul li{
	float:left;
	width: 240px;
	height: 243px;
	margin-right: 3px;
}
.tj_wrapper ul li a{
	outline:none;
	display:block;
}
.tj_wrapper ul li a img{
	height: 240px;
	width: 240px;
}
.tj_wrapper ul li a img:hover{
	opacity:1.0;
}
